.About-container {
    min-height: 120vh;
    background: linear-gradient(to bottom, #010104 85%, #ebebeb 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.About-text-container {
    min-height: 70vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.About-title {
    color: #ebebeb;
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.About-text {
    color: #ebebeb;
    width: 65%;
    line-height: 1.8;
    font-size: 16px;
}

.About-link-style, .About-pdf-style  {
    border-bottom: 2px solid #74B3CE;
    text-decoration: none;
    color: #ebebeb;
}

.About-link-style:hover {
    transition: all .4s ease-in-out;
    transform-origin: bottom top;
    cursor: pointer;
    background: #74B3CE;
}

.About-btn {
    background-color: #74B3CE; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.About-btn:focus {
    outline: none;
    box-shadow: none;
}

.About-pdf-style:hover {
    cursor: pointer;
    color: white;
}

.About-image-container {
    min-height: 100vh;
    min-width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.About-photo {
    z-index: 1;
    width: 60%;
    box-shadow: 20px 20px #74B3CE;
}