.Experiences-container {
    min-height: 100vh;
    background-color: #ebebeb;
}

.Experiences-title {
    display: flex;
    justify-content: center;
    width: 50vw;
    color: #74B3CE;
    font-family: 'Roboto Mono', monospace;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 2px solid #74B3CE;
}

.Experience-subtitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: #74B3CE;
    color: #ebebeb;
    width: fit-content;
    padding: 5px 5px 5px 10px;
}

.Experiences-timeline-logo {
    width: 100%;
    padding: 5px;
}

.learn-more-btn {
    background-color: #74B3CE;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Experiences-view-more-btn, .learn-more-btn:focus {
    outline: none;
    box-shadow: none;
}

.Experiences-view-more-btn, .learn-more-btn:hover {
    cursor: pointer
}

.Experience-details-container {
    padding: 10px;
}

.Experience-list-style {
    list-style-type: circle;
    font-size: large;
    margin: 5px 0;
}

.Experience-text-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.Experiences-view-more-btn {
    background-color: #ebebeb;
    border: 3px solid #74B3CE;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #74B3CE;
    font-size: 20px;
}

.btn-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.Education-timeline-logo {
    width: 100%;
    padding: 10px;
}

.Education-button-container {
    margin-top: 10px;
}

.Education-subtitle {
    margin-top: 10px;
}