.Home-header {
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.Home-headshot-img {
    z-index: 1;
    height: 250px;
    border: 2px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.Home-mountain-img {
    z-index: 1;
    width: 100%;
}

.Home-introduction-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Home-introduction {
    z-index: 1;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.Home-description {
    z-index: 1;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
}

.Home-cursor-style {
    color: #74B3CE
}

.Home-particles-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sky-bg.jpeg');
}