nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    min-width: 100%;
    background-color: #202020;
    position: fixed;
    z-index: 2;
    font-size: 1rem;
}

.Home-cursor-style, .Navbar-bar-style{
    color: #74B3CE
}

.Navbar-mobile-icon {
    display: none;
}

.Navbar-logo {
    font-family: 'Roboto', sans-serif;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.Navbar-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    list-style: none;
}

.Navbar-link-style {
    display: flex;
    align-items: center;
    color: #ebebeb;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.Navbar-link-style:hover {
    transition: all .4s ease;
    border-bottom: 2px solid #74B3CE;
    cursor: pointer;
}

.Navbar-link-style:active {
    border-bottom: 2px solid #74B3CE;
}

@media screen and (max-width: 768px) {
    .Navbar-mobile-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 1.8rem;
        color: #ebebeb;
        cursor: pointer;
    }

    .Navbar-menu {
        display: none;
    }
}